@font-face
{font-family: got;
src: url(https://fisles.jcink.net/uploads2/swfonts/Game_of_Thrones.ttf)}
.border {
    font-family: 'Game of Thrones';
    font-size: 40px;
    color: transparent;
    text-shadow: -1px -1px white,
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white;
    text-align: center;
}

.ola {
    font-family: 'Game of Thrones';
    color: #000;
    font-size: 40px;
    text-shadow: -1px -1px white,
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white;
    animation: ola 3s ease-in-out infinite;
    text-align: center;
}

@keyframes ola {
    0%, 100% {
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}
